---
layout: index
---

<section class="py-5 bg-dark" id="scroll-target">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <figure class="figure">
          
        <img
          class="figure img-fluid rounded float-left"
          src="/assets/images/karin.jpg"
          alt="Karin Börjesson"
          width="268"
          height="362"
        />
    </figure>
      </div>
      <div class="col-lg-8 text-white">
        <h2 class="fw-bolder">Om nABLE Consulting</h2>
        <p class="fw-normal text-muted">{{ content }}</p>
      </div>
    </div>
  </div>
</section>
